@import url("./style/config.css");
@import url("./style/header.css");
@import url("./style/main.css");
@import url("./style/section.css");
@import url("./style/footer.css");
@import url("./style/projects.css");
@import url("./style/mobile.css");
/* @import url("./import2.css"); */

/* @import url('./style/.css'); */
