@media only screen and (max-width: 767px) {
  /* HEADER */
  /* Taille et config du conteneur */
  header {
    height: 10vh;
    grid-template-columns: 20% 60% 20%;
    background-color: var(--primary-color);
  }
  /* rendre les sections desktop invisibles */
  .home,
  .projets,
  .about {
    display: none;
  }

  /* Menu burger */
  header > span.nav-btn {
    display: flex;
    grid-column: 3;
    border-left: 1px solid grey;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
  }
  span.nav-btn > label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  label > .navburg {
    width: 100%;
  }
  /* cacher la checkbox */
  #navbar {
    display: none;
  }
  header > nav.navbar {
    display: grid;
  }
  .navbar {
    position: absolute;
    display: grid;
    grid-template-rows: 10vh 50vh 50vh;
    grid-template-columns: 90% 10%;
    background: var(--secondary-color);
    z-index: 99;
    width: 100vw;
    height: 100vh;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: all 0.3s linear;
    padding: 20px;
  }

  #navbar:checked ~ nav.navbar {
    transform: translateX(0);
  }

  .nav-list {
    clear: right;
    list-style: none;
  }

  .nav-item {
    display: block;
    font-size: 1.5rem;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    color: var(--primary-color); /* Utilisation de la couleur tertiaire */
    letter-spacing: 0.4rem;
    transition: all 0.3s linear;
    text-align: left;
  }

  .nav-item > a {
    color: var(--primary-color); /* Utilisation de la couleur tertiaire */
  }

  .nav-item:hover {
    background-color: var(--secondary-color);
    padding-left: 1.5rem;
    border-left: 0.25rem solid var(--primary-color);
  }

  .nav-close {
    float: right;
    width: 100;
    padding: auto;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: all 0.3s linear;
    grid-row: 1;
    grid-column: 2;
  }
  .nav-list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    grid-row: 2;
    grid-column: 1;
    font-size: 40px;
  }
  .nav-list hr {
    border: none;
    height: 0.5px;
    background-color: var(--primary-color);
  }
}
