@media only screen and (max-width: 767px) {
  .container1 {
    flex-direction: column;
  }

  .contacts,
  .infos {
    width: 80%;
  }

  .container1 h1 {
    font-size: 18px;
  }
  .container1 a {
    font-size: 14px;
  }
  .infos {
    border: 1px solid var(--primary-color);
    border-left: none;
    border-right: none;
  }

  .logof img {
  width: 100%;
  height: auto;
}
}
