.projects {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 20% 40% 10% 10% 10% 10%;
  grid-template-rows: 20% 60% 20%;
  scroll-snap-align: start;
}

body > section:nth-of-type(2) {
  background-color: var(--primary-color);
  grid-row: 4;
}
.projects > .title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 2;
  margin-bottom: 0;
  color: var(--tertiary-color);
  writing-mode: vertical-rl;
  z-index: 2;
  position: relative;
  font-family: var(--police-bold);
}
.projects > .title > h1 {
  font-size: var(--big-title-size);
  transform: rotate(180deg);
  height: 20%;
  width: 50%;
  width: fit-content;
  letter-spacing: 0.16em;
}
.hr {
  width: 50%;
  height: auto;
  transform: rotate(90deg);
}

.projects > .title > .hr > hr {
  height: 3px;
  width: 100%;
  background-color: var(--tertiary-color);
  transform: translateY(20%);
}
.projects > .col0 {
  grid-column: 1;
  grid-row: 1 / span 3;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  /* background-color: red; */
}
.projects > .col1 {
  grid-row: 1 / span 3;
  grid-column: 2;
}
.projects > .col2 {
  grid-row: 1 / span 3;
  grid-column: 3;
}
.projects > .col3 {
  grid-row: 1 / span 3;
  grid-column: 4 / span 2;
}
.projects > .col4 {
  grid-row: 1 / span 3;
  grid-column: 6;
}

.projects > .col1,
.projects > .col2,
.projects > .col3,
.projects > .col4 {
  /* border-left: 1px solid grey; */
  width: 100%;
  height: 100%;
}

.slider-projects {
  height: 100%;
  width: 120%;
  grid-row: 1 / span 2;
  grid-column: 2 / span 5;
  display: flex;
  justify-content: space-between;
  align-items: end;
  overflow: hidden;
  position: relative;
  z-index: 0;
  transition: transform 0.5s ease;
}

.slider-projects > a {
  height: 80%;
  width: 30%;
  position: relative;
  z-index: 0;
}
.slidep1,
.slidep2,
.slidep3 {
  height: 100%;
  width: 100%;
  position: absolute;
}

.slidep1 {
  background-image: url("../../Image/photos/slider2_img1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slidep2 {
  background-image: url("../../Image/photos/slider2_img2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slidep3 {
  background-image: url("../../Image/photos/slider2_img3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.arrowleft {
  grid-column: 5;
  grid-row: 3;
  transform: translateX(20%);
}
.arrowleft :hover {
  stroke: var(--tertiary-color);
}

.arrowleft,
.arrowright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.arrowright {
  grid-column: 6;
  grid-row: 3;
  transform: translateX(-20%);
}

.arrowright :hover {
  stroke: var(--tertiary-color);
}

.slider-projects > a > div > h1,
.slider-projects > a > div > hr,
.slider-projects > a > div > p {
  display: none;
}

.slider-projects > a:hover > .filter > h1,
.slider-projects > a:hover > .filter > hr,
.slider-projects > a:hover > .filter > p {
  display: block;
}

.slider-projects > a > .filter {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider-projects > a {
  outline: none;
  text-decoration: none;
}

.slider-projects > a:hover > .slidep1,
.slider-projects > a:hover > .slidep2,
.slider-projects > a:hover > .slidep3 {
  filter: brightness(50%);
}

.slider-projects > a > .filter > h1 {
  color: var(--primary-color);
  font-size: var(--big-title-size);
  font-family: var(--police-light);
}

.slider-projects > a > .filter > hr {
  background-color: var(--tertiary-color);
  width: 50%;
  height: 3px;
}

.slider-projects > a > .filter > p {
  color: var(--primary-color);
  font-size: var(--police-bold);
  font-family: var(--police-light);
  width: 80%;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}
