body > section:nth-of-type(1) {
  background-color: var(--primary-color);
  grid-row: 3;
  scroll-snap-align: center;
  width: 100vw;
}

.about2 {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 20vh 60vh 20vh;
  grid-template-columns: 20% 10% 10% 10% 10% 10% 20% 10%;
}

.about2 > .photo {
  background-color: black;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

.about2 > img {
  grid-column: 2 / span 2;
  grid-row: 2;
  height: 70%;
  width: auto;
  height: 100%;
  width: auto;
  transform: scale(1.2);
}

.txtarea {
  grid-column: 5 / span 3;
  grid-row: 2;
  z-index: 1;
}

.txtarea > .h1 > h1 {
  color: var(--tertiary-color);
  font-size: var(--big-title-size);
  font-family: var(--police-bold);
}
.txtarea > .h1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.txtarea > .h1 > hr {
  height: 2px;
  width: 200px;
  background-color: var(--tertiary-color);
}

.col1 {
  grid-row: 1 / span3;
  grid-column: 6;
}
.col2 {
  grid-row: 1 / span3;
  grid-column: 7;
}
.col3 {
  grid-row: 1 / span3;
  grid-column: 8;
}

.col1,
.col2,
.col3 {

  width: 100%;
  height: 100%;
}

.txtarea > p {
  line-height: 1.2em;
  margin-top: 20px;
  font-size: var(--font-size);
  font-family: var(--police-light);
}
